

.App-header {
  /*background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}
.categories-box {
  padding-bottom: 50px;
}
.item-image {
  width: 350px;
  height: 250px;
}

.item-data {
  text-align: center;
  padding: 25px;
}

.menu-item {
  display: flex; /* or inline-flex */
  flex-direction: column;
}

.highligted {
  position: relative;
  margin: 0;
  padding: 4px;
  background: red;
  bottom: 21%;
}

/* Logo styling */

#logo {
  width: 221px;
}

/* Mobile ----------- */
@media only screen and (max-width : 480px) {
  /* Styles */
  #logo {
    width: 121px;
  }
}

/* Text styling */

#thick-line {
  color: whitesmoke;
  background-color: whitesmoke;
  height: 10px;
  width: 25px;
}

#line-separator {
  margin: -25px;
}

p {
  font-size: 1.2em;  
}